.container {
  display: grid;
  width: 100%;
  padding: 15px;
  aspect-ratio: 5/4;
  grid-template-rows: auto 25px;
  background-color: rgb(251, 235, 149, 0.4);
  border-radius: 10px;
  gap: 15px;

  .content {
    p {
      display: -webkit-box;
      line-clamp: 5;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: var(--fs-md);
      font-weight: var(--fw-normal);
      line-height: 20px;
      color: #3c3d43;
      // margin-bottom: 30px;
    }

    .expanded {
      display: block;
    }

    .textarea {
      height: 100%;
      width: 100%;
      background-color: transparent;
    }

    button {
      cursor: pointer;
      line-height: 30px;
      color: var(--grey);
      text-transform: capitalize;
      background-color: transparent;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    font-size: var(--fs-sm);
    color: var(--grey);

    .saveBtn{
      width:auto;
      padding:8px;
      margin-left: auto;
      background-color: var(--green);
    }
  }
}
